/* -----------------CSS DLA RÓŻNYCH URZĄDZEŃ----------------- */


/* ----------MOBILNE PION < 479px---------- */
@media only screen and (max-width: 479px) {
    header {
        padding: 16px;
    }
    #burger {
        display: block;
    }
    nav a {
        display: none;
    }
    #social_media_bar {
        display: none;
    }
    #profilowe {
        width: 30dvh;
    }
  }
  
/* --------MOBILNE POZIOM < 767px-------- */
@media only screen and (max-width: 767px) and (min-width: 480px){
    header {
        padding: 32px;
    }
    nav {
        order: 3;
    }
    #burger {
        display: block;
    }
    nav a {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }
    #profilowe {
        width: 30dvh;
    }
}
  
/* ------------TABLET < 991px------------ */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    header {
        padding: 32px;
    }
    nav {
        width: 250px;
    }
    nav #burger {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }
    #profilowe {
        width: 250px;
        margin: 25px;
    }
}
  
/* ------------DESKTOP > 991px------------ */
@media only screen and (min-width: 992px) {
    header {
        padding: 32px 48px;
    }
    nav {
        width: 250px;
    }
    nav #burger {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }
    #profilowe {
        width: 250px;
        margin: 25px;
    }
}





/* -----------------CSS DLA WSZYSTKICH URZĄDZEŃ----------------- */


/* -----------------BODY----------------- */

body {
    margin: 0;
}

/* -----------------HEADER----------------- */



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 32px;
    width: 145px;
    background-color: black;
}

nav {
   display: flex;
   justify-content: space-between; 
}

nav a {
    text-decoration: none;
    color: black;
}

nav #burger {
    width: 16px;
    height: 16px;
    background-color: black;
}

.social_media {
    height: 16px;
    width: 16px;
    background-color: black;
}

/* -----------------SECTION----------------- */


#home {
    height: calc(100dvh - 96px);
    width: 100dvw;
    background-color: rgba(197, 187, 171, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#home div {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

#scroll {
    margin-top: 5dvh;
    height: 40px;
    width: 40px;
    background-color: black;
}




