/* -----------------CSS DLA RÓŻNYCH URZĄDZEŃ----------------- */


/* ----------MOBILNE PION < 479px---------- */
@media only screen and (max-width: 479px) {
    header {
        padding: 16px;
    }
    #burger {
        display: block;
    }
    nav a {
        display: none;
    }
    #social_media_bar {
        display: none;
    }

    #home {
        height: calc(100dvh - 64px);
    }
    #home > div {
        padding-bottom: 10dvh;
    }
    #profilowe {
        width: 30dvh;
    }
  }
  
/* --------MOBILNE POZIOM < 767px-------- */
@media only screen and (max-width: 767px) and (min-width: 480px){
    header {
        padding: 32px;
    }
    nav {
        order: 3;
    }
    #burger {
        display: block;
    }
    nav a {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }

    #home {
        height: calc(100dvh - 64px);
    }
    #home > div {
        padding-bottom: 10dvh;
    }
    #profilowe {
        width: 30dvh;
    }
    

    
}
  
/* ------------TABLET < 991px------------ */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    header {
        padding: 32px;
    }
    nav {
        width: 250px;
    }
    nav #burger {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }

    #home {
        height: calc(100dvh - 96px);
    }
    #profilowe {
        width: 250px;
        margin: 0px;
    }

    
}
  
/* ------------DESKTOP > 991px------------ */
@media only screen and (min-width: 992px) {
    header {
        padding: 32px 48px;
    }
    nav {
        width: 250px;
    }
    nav #burger {
        display: none;
    }
    #social_media_bar {
        width: 116px;
        display: flex;
        justify-content: space-between;
    }

    #home {
        height: calc(100dvh - 96px);
    }
    #profilowe {
        width: 250px;
        margin: 0px;
    }

    
}





/* -----------------CSS DLA WSZYSTKICH URZĄDZEŃ----------------- */


/* -----------------BODY----------------- */

body {
    margin: 0;
    /*background-color: #e7ebee;*/
    background-color: #FFFFFF;
    
    
}

/* -----------------HEADER----------------- */



header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 32px;
    width: 145px;
    background-color: black;
}

nav {
   display: flex;
   justify-content: space-between; 
}

nav a {
    text-decoration: none;
    color: black;
}

nav #burger {
    width: 16px;
    height: 16px;
    background-color: black;
}

.social_media {
    height: 16px;
    width: 16px;
    background-color: black;
}

/* -----------------SECTION HOME----------------- */




#home {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1 {
    text-align: center;
    margin: 15px;
}

#home div {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0px;
}



/* -----------------SECTION O MNIE----------------- */

#o_mnie {
    height: 100dvh;
}

#kontakt {
    height: 100dvh;
}







/* -----------------FOOTER----------------- */

footer {
    background-color: white;
}

#links_bar {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 0;
}

#links {
    display: flex;
    justify-content: space-between;
}

#links div {
    width: 30px;
    height: 30px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}


#copyright {
    padding: 15px;
    text-align: center;
}

#copyright p {
    margin: 0;
}







/* ----------------SCROLL ANIMATED----------------- */



.mouse {

    width: 25px;
    height: 40px;
    border: 1px solid rgb(70, 70, 70);
    background-color: transparent;
    border-radius: 13px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5dvh;
  }
  
  .scroll {
    width: 3px;
    height: 10px;
    background-color: rgb(70, 70, 70);
    border-radius: 2px;
    position: absolute;
    bottom: 9px;
    animation: move_918 1.5s linear infinite;
  }
  
  @keyframes move_918 {
    0% {
      bottom: 9px;
    }
  
    50% {
      bottom: 5px;
    }
  
    100% {
      bottom: 9px;
    }
  }